@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

html {
  font-family: 'Inter', sans-serif;
  background-color: #0b0f10;
  font-size: 18px;
  color: #fff;
}

* {
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

div.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 20px;
  grid-column-gap: 20px;
  margin-top: 140px;
  margin-left: 20%;
  margin-right: 20%;
  padding-bottom: 40px;
}

div.page-container {
  display: block;
  margin-top: 140px;
  margin-left: 20%;
  margin-right: 20%;
  padding-bottom: 40px;
}

div.container-item {
  display: block;
}

div.site-title {
  font-family: inherit;
  font-weight: 700;
  color: #039be5;
  font-size: 32px;
  text-transform: lowercase;
  margin-bottom: 20px;
}

div.authentication-form {
  display: block;
}

input[type="text"],input[type="email"], input[type="password"] {
  display: block;
  width: 100%;
  background-color: #232730;
  border-radius: 12px;
  font-family: inherit;
  font-weight: 400;
  color: #a9acb1;
  font-size: inherit;
  padding: 10px 20px;
  border: none;
  margin-bottom: 20px;
}

button {
  display: block;
  background-color: #232730;
  border-radius: 12px;
  font-family: inherit;
  font-weight: 700;
  color: #fff;
  font-size: inherit;
  padding: 12.5px 25px;
  border: none;
  cursor: pointer;
}

button.login {
  background-color: #039be5;
}

button.logout {
  margin-top: 20px;
  background-color: red;
}

footer {
  display: block;
  margin-top: 0px;
  margin-left: 20%;
  margin-right: 20%;
  padding-bottom: 40px;
  font-size: 14px;
}