@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

html {
    font-family: 'Inter', sans-serif;
    background-color: #0b0f10;
    font-size: 18px;
    color: #fff;
}

* {
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

a {
    font-weight: 700;
    color: #fff;
    text-decoration: underline;
}

a.block {
    display: block;
}